<section>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
<form action="/admin/add-product" method="POST" enctype="multipart/form-data">
  
      <label for="validationCustom01">Name</label>
      <input type="text" class="form-control" id="validationCustom01"  required>
      
      <label for="validationCustom02">Category</label>
      <input type="text" class="form-control" id="validationCustom02"  required>
      
      <label for="validationCustom03">Price</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      
      <label for="validationCustom04">Description</label>
      <input type="text" class="form-control" id="validationCustom04" required>
      
      <label for="validationCustom05">Image</label>
      <input type="file" class="form-control" >
        
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>


        </div>
    </div>
</section>