<section>
    <div class="container">
      <div class="row mt-4">
        <a href="/admin/add-product" class="btn btn-success ml-auto">Add product</a>
      </div>
        <table class="table mt-5" >
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.description}}</td>
      <td><img style="width: 50px;height: 50px;"src="{{this.image}}" alt=""></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>