
        <section>
            <div class="container mt-5">
                <div class="row">
                    {{#each product}}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top"
                                src="{{this.image}}"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>        
                    {{/each}}           
                </div>
            </div>
        </section>
       